.inline-block {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
.logo p {
    display: inline-block;
    vertical-align: top; 
}
.nav {
    width: 73%;
    padding: 1%;
}
.ul li {
    width: 50%;
    margin-left: auto;
    padding: 25%;
    display: inline-block;
    vertical-align: top;
}
.heroImg {
    height: 600px;
    padding: 25px;
    text-align: center;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.flexContainer {
    display:flex;
    width: 33%;
    padding:15px;
    flex-direction:row;
    align-items:baseline;
    align-content:space-around;
    justify-content:space-between;
}
.wireFraming {
    height:400px;
    padding:75px;
    margin:50px;
}
.userEmpathy {
    height:400px;
    padding:75px;
    margin:10px;
}
.commnColab {
    height:400px;
    padding:75px;
    margin:50px;
}
.footer {
    background-color: #373738;
}
.footer ul {
    display: inline-block;
    vertical-align: top;
}
