.inline-block {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
.logo p {
    display: inline-block;
    vertical-align: top; 
}
.nav {
    width: 73%;
    padding: 1%;
}
.ul li {
    width: 50%;
    margin-left: auto;
    padding: 25%;
    display: inline-block;
    vertical-align: top;
}
.heroImg {
    height: 600px;
    padding: 25px;
    text-align: center;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.flexContainer {
    display:flex;
    width: 33%;
    padding:15px;
    flex-direction:row;
    align-items:baseline;
    align-content:space-around;
    justify-content:space-between;
}
.wireFraming {
    height:400px;
    padding:75px;
    margin:50px;
}
.userEmpathy {
    height:400px;
    padding:75px;
    margin:10px;
}
.commnColab {
    height:400px;
    padding:75px;
    margin:50px;
}
.workGrid {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "cookingMat projInfo1 projInfo1"
    "trekIt projInfo2 projInfo2"
    "getMo projInfo3 projInfo3";
}
.cookingMat {
    grid-area: cookingMat;
}
.trekIt {
    grid-area: trekIt;
}
.getMo {
    grid-area: getMo;
}
.projInfo1 {
    grid-area: projInfo1;
}
.projInfo2 {
    grid-area: projInfo2;
}
.projInfo3 {
    grid-area: projInfo3;
}
.footer {
    background-color: #373738;
}
.footer ul {
    display: inline-block;
    vertical-align: top;
}
